/*************************************************************Main style of the application************************************************************/

/*personal modifications*/

html, body 
{ 
	height: 100%; 
	margin: 0; 
	padding: 0; 
	width: 100%;
}

.routeForm
{
	position: absolute;
}

#map
{
	width: 100%;
}

#logo
{
    height : 12%;
    width : 12%;

}





/*Modifications Materialize*/
nav
{
	height: 100%;
}

.footer-copyright
{
	height: 100% !important;
}

footer.page-footer
{
	padding: 0;
}

.container
{
	height: 100%;
}
