/*************************************************************Main style of the application************************************************************/

/*personal modifications*/

html, body 
{ 
	height: 100%; 
	margin: 0; 
	padding: 0; 
	width: 100%;
}

.routeForm
{
	position: absolute;
}

.bloc { 
    position:absolute;
    height:150px;
    width:800px;
    margin-left:100px;
    margin-right:500px;
    z-index:1;
    background-color:#FFFFFF;
    top:570px;
	border: 1px solid black;
	box-shadow: 3px 3px 0px;
	background-color: #DCDCDC;
}

#map
{
	width: 100%;
}

#logo
{
    height : 100%;
    width : auto;

}


/*Modifications Materialize*/
nav
{
	height: 100%;
}

.footer-copyright
{
	height: 100% !important;
}

footer.page-footer
{
	padding: 0;
}

.container
{
	color: white;
	height: 100%;
}

.nav-wrapper
{
	box-shadow: 0px 0px 10px black;
	z-index: 99;
}

.page-footer
{
	background-color: #6094c9 !important;
}
