/*************************************************************Main style of the application************************************************************/

/*personal modifications*/

html, body 
{ 
	height: 100%; 
	margin: 0; 
	padding: 0; 
	width: 100%;
}

.routeForm
{
	position: absolute;
}

<<<<<<< HEAD
.bloc { 
    position:absolute;
    height:150px;
    width:800px;
    margin-left:100px;
    margin-right:500px;
    z-index:1;
    background-color:#FFFFFF;
    top:400px;
    border-width:1px dotted black;
}
#map
{
    height: 83.6%;
=======
#map
{
	width: 100%;
}

#logo
{
    height : 12%;
    width : 12%;

}





/*Modifications Materialize*/
nav
{
	height: 100%;
}

.footer-copyright
{
	height: 100% !important;
}

footer.page-footer
{
	padding: 0;
}

.container
{
	height: 100%;
>>>>>>> 8f78512659a5329008d4c25ab736506bfa4c7817
}
